.tree-node {
  position: relative;
  overflow: visible;
}

.icon {
  color: rgb(101, 119, 134);
  display: flex;
  align-items: center;
}

.media-stats {
  display: flex;
  margin-top: 10px;
}

.count {
  padding: 0 10px;
  font-size: 14px;
}

.connector {
  border-color: rgb(237, 239, 241);
  border-radius: 2px;
  border-style: solid;
  border-width: 2px;
  bottom: 6px;
  content: '';
  display: block;
  left: 52px;
  position: absolute;
  width: 0;
  z-index: 1;
  top: 67px;
}

.connector.collapsed {
  border-color: rgb(187, 194, 201);
}

.connector:hover {
  border-color: rgb(29, 161, 242);
}

.tree-view_arrow {
  align-self: flex-start;
  padding-top: 15px;
  transform: none;
  opacity: 0;
}

.tree-view_arrow::after {
  content: '➖';
}

.tree-view_arrow-collapsed::after {
  content: '➕';
}

.no-border {
  border: none;
}

.tree-view_children {
  margin-left: 40px;
}

.tree-view_item {
  display: flex;
  align-items: baseline;
}

.tree-view_item > * {
  display: inline;
}

.name,
.screen-name,
.full-text {
  font-size: 15px;
}

.author-image {
  border-radius: 50%;
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
  margin-right: 10px;
  margin-top: 8px;
  padding-right: 3px;
}

.screen-name {
  color: rgb(136, 153, 166);
}

.sub-tweet {
  display: flex;
}

.attached-media {
  border-radius: 15px;
  overflow: hidden;
  display: grid;
  width: fit-content;
}

.root-tweet .full-text {
  font-size: 23px;
  padding-bottom: 15px;
}

.root-tweet .full-text,
.root-tweet .attached-media,
.root-tweet .media-stats {
  margin-left: 50px;
}

.root-tweet .author {
  display: flex;
  padding-bottom: 15px;
}

.root-tweet .screen-name {
  color: rgb(136, 153, 166);
  line-height: 12px;
}

.root-tweet .author-details {
  display: flex;
  flex-direction: column;
}
